.env
.venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.DS_Store
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
reports/*
!reports/.gitkeep
airflow/logs/
airflow/plugins/
postgres_data/

